<p-tabView id="startTabs">
    <p-tabPanel header="Recommended">
        <div id="skeletonContainer" *ngIf="posts.length == 0">
            <p-skeleton *ngFor="let height of skeletonHeights" class="skeleton-appear" height="{{height + 'rem'}}" width="100%"></p-skeleton>
        </div>
        <div id="postContainer" class="post">
            <div *ngFor="let post of posts" class="post">
                <div class="post-contents">
                    <span *ngIf="post.author.displayName" class="username">{{ post.author.displayName }} (@{{ post.author.username }})</span>
                    <span *ngIf="!post.author.displayName" class="username">@{{ post.author.username }}</span>
                    <span class="post-time">{{ post.createdAt | date:'medium' }}</span>
                    <span>{{ post.content }}</span>
                </div>
                <div class="post-stats">
                    <div class="post-stat">
                        <i class="pi pi-thumbs-up-fill hover-twist" *ngIf="post.vote == VoteInteractionType.Upvote"></i>
                        <i class="pi pi-thumbs-up hover-twist" *ngIf="post.vote != VoteInteractionType.Upvote"></i>
                        {{ post.upvoteCount }}
                    </div>
                    <div class="post-stat">
                        <i class="pi pi-thumbs-down-fill hover-twist" *ngIf="post.vote == VoteInteractionType.Downvote"></i>
                        <i class="pi pi-thumbs-down hover-twist" *ngIf="post.vote != VoteInteractionType.Downvote"></i>
                        {{ post.downvoteCount }}
                    </div>
                    <div class="post-stat">
                        <i class="pi pi-comments hover-twist" *ngIf="post.hasCommented"></i>
                        <i class="pi pi-comment hover-twist" *ngIf="!post.hasCommented"></i>
                        {{ post.commentCount }}
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Following">
    </p-tabPanel>
</p-tabView>