:host {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#startTabs {
    display: block;
    width: 65rem;
    max-width: 90%;

    ::ng-deep {
        .p-tabview-panels,
        .p-tabview-nav-link {
            background-color: transparent;
        }

        .p-tabview-nav {
            display: flex;
            justify-content: center;
        }
    }
}
