<p-tabView id="startTabs">
    <!--A tab view with 2 tabs, recommended and following-->
    <p-tabPanel header="Recommended">
        <app-postlist [posts]="posts" [nextPageLoadingState]="loadingNextPage" (loadNextPage)="loadNextPage()"></app-postlist>
    </p-tabPanel>
    <p-tabPanel header="Following">
        <!-- TODO: The following posts -->
    </p-tabPanel>

    <!-- p-confirmPopup and p-toast for mounting confirm and toast overlays -->
    <p-confirmPopup></p-confirmPopup>
    <p-toast></p-toast>
</p-tabView>
