:host {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#postContainer,
#skeletonContainer {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#postContainer {
    .post {
        width: 100%;
        border: 1px solid var(--surface-border);
        margin-bottom: 1rem;
        background-color: var(--surface-card);

        display: flex;
        flex-direction: column;

        .post-contents {
            padding: 1rem;
            display: flex;
            flex-direction: column;

            .username {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .post-time {
                padding-bottom: 0.8rem;
            }
        }

        .post-stats {
            padding: 1rem;
            border-top: 1px solid var(--surface-border);

            display: flex;

            .post-stat {
                margin-right: 1rem;
            }
        }
    }
}

#skeletonContainer {
    p-skeleton {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.hover-twist {
    transform: scale(1);
    transition: transform 300ms;
}

.hover-twist:hover {
    transform: scale(1.2);
}

#startTabs {
    display: block;
    width: 40%;

    ::ng-deep {
        .p-tabview-panels,
        .p-tabview-nav-link {
            background-color: transparent;
        }

        .p-tabview-nav {
            display: flex;
            justify-content: center;
        }
    }
}
