<header *ngIf="currentRoute != '/login' && currentRoute != '/register'">
  <div id="headerStart" class="header-inner">
    <img src="/assets/logoSide.svg" alt="Logo" style="height: 2rem; align-self: center;" routerLink="/" class="pointer">
  </div>
  <div id="headerMid" class="header-inner">
    <span class="p-input-icon-left" style="width: 100%;">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" style="width: 100%;" class="p-inputtext-sm" />
    </span>
  </div>
  <div id="headerEnd" class="header-inner">
    <ng-container *ngIf="loggedIn != undefined && !loggedIn">
      <p-button label="Login" class="btn-margin" styleClass="p-button-sm" routerLink="/login"></p-button>
      <p-button label="Register" styleClass="p-button-sm" routerLink="/register"></p-button>
    </ng-container>
    <ng-container *ngIf="loggedIn != undefined && loggedIn">
      <p-button label="Create post" class="btn-margin" styleClass="p-button-sm" (click)="newPostDialogVisible = true"></p-button>
      <div class="avatar pointer" (click)="userOverlayPanel.toggle($event)">
        <i class="pi pi-user"></i>
      </div>
      <p-overlayPanel #userOverlayPanel id="userMenuOverlay">
        <div class="user-overlay-panel">
          <span class="user-greeting">Hello, @{{ username }}</span>
          <ul class="user-menu-list">
            <li routerLink="/" (click)="userOverlayPanel.hide()" class="pointer">Start</li>
            <li routerLink="/u" (click)="userOverlayPanel.hide()" class="pointer">Your profile</li>
          </ul>
          <p-button label="Logout" styleClass="p-button-sm" (click)="logout()"></p-button>
        </div>
      </p-overlayPanel>
    </ng-container>
    <ng-container *ngIf="loggedIn == undefined">
      <p-skeleton class="skeleton-appear" height="100%" width="15rem"></p-skeleton>
    </ng-container>
  </div>
</header>

<!-- Below dialog is overlayed when the user creates a new post -->
<p-dialog header="Create a new post" [(visible)]="newPostDialogVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" id="newPostDialog" [maximizable]="true">
  <span class="p-float-label" id="newPostArea">
    <textarea rows="5" pInputTextarea [formControl]="newPostText"></textarea>
    <label for="float-input">Tell us, what's on your mind!</label>
  </span>
  <div id="postButtonContainer">
      <span class="post-btn-margin" [style.color]="!newPostText.valid ? 'var(--red-500)' : ''">{{ newPostText.value?.length ?? 0 }}/282</span>
      <p-button label="Discard" class="post-btn-margin" styleClass="p-button-sm p-button-danger p-button-outlined" (click)="discardPost($event)"></p-button>
      <p-button label="Post" class="post-btn-margin" styleClass="p-button-sm p-button-success" [disabled]="!newPostText.valid || newPostText.value == undefined || newPostText.value.length == 0" (click)="createNewPost()"></p-button>
  </div>
</p-dialog>

<!-- p-confirmPopup and p-toast for mounting confirm and toast overlays -->
<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>

<!-- Router outlet below is replaced by current route's component -->
<router-outlet />