header {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;

    background-color: var(--surface-card);

    padding: 0.75rem;

    #headerStart {
        width: 10%;
        display: flex;
        justify-content: flex-start;
    }

    #headerMid {
        width: 60%;
    }

    #headerEnd {
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }

    .btn-margin {
        margin-right: 1.5rem;
    }

    .avatar {
        height: 100%;
        aspect-ratio: 1;

        background-color: #3e4053;

        border-radius: 13%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-repeat: no-repeat;
        background-size: cover;
    }

}

.user-overlay-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .op-margin-bottom {
        margin-bottom: 1rem;
    }
}
