<header>
  <div id="headerStart" class="header-inner">
    <div style="outline: solid red 1px;">LOGO</div>
  </div>
  <div id="headerMid" class="header-inner">
    <span class="p-input-icon-left" style="width: 100%;">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" style="width: 100%;" class="p-inputtext-sm"/>
    </span>
  </div>
  <div id="headerEnd" class="header-inner">
    <p-button label="Login" class="btn-margin" styleClass="p-button-sm"></p-button>
    <p-button label="Register" styleClass="p-button-sm"></p-button>
  </div>
</header>

<router-outlet />