header {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;

    z-index: 1;

    background-color: var(--surface-card);

    padding: 0.75rem;

    #headerStart {
        width: 10%;
        display: flex;
        justify-content: flex-start;
    }

    #headerMid {
        width: 60%;
    }

    #headerEnd {
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }

    .btn-margin {
        margin-right: 1.5rem;
    }

    .avatar {
        height: 100%;
        aspect-ratio: 1;

        background-color: #3e4053;

        border-radius: 13%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-repeat: no-repeat;
        background-size: cover;
    }
}

.user-overlay-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .user-greeting {
        margin-bottom: 1rem;
        padding: 0 1rem 0 1rem;
    }

    .user-menu-list {
        list-style-type: none;

        padding: 0;
        width: 100%;

        li {
            width: 100%;
            height: 2rem;
            padding: 0 1rem 0 1rem;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            transition: background-color 180ms;

            &:hover {
                background-color: var(--highlight-bg);
            }
        }
    }
}

#newPostArea {
    width: 100%;
    margin-top: 2rem;

    textarea {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#postButtonContainer {
    height: 4rem;
    border: 1px solid var(--surface-border);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .post-btn-margin {
        margin-right: 1rem;
    }
}