<header *ngIf="currentRoute != '/login' && currentRoute != '/register'">
  <div id="headerStart" class="header-inner">
    <div style="outline: solid red 1px;">LOGO</div>
  </div>
  <div id="headerMid" class="header-inner">
    <span class="p-input-icon-left" style="width: 100%;">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" style="width: 100%;" class="p-inputtext-sm" />
    </span>
  </div>
  <div id="headerEnd" class="header-inner">
    <ng-container *ngIf="loggedIn != undefined && !loggedIn">
      <p-button label="Login" class="btn-margin" styleClass="p-button-sm" routerLink="login"></p-button>
      <p-button label="Register" styleClass="p-button-sm" routerLink="register"></p-button>
    </ng-container>
    <ng-container *ngIf="loggedIn != undefined && loggedIn">
      <p-button label="Create post" class="btn-margin" styleClass="p-button-sm"></p-button>
      <div class="avatar" (click)="userOverlayPanel.toggle($event)">
        <i class="pi pi-user"></i>
      </div>
      <p-overlayPanel #userOverlayPanel>
        <div class="user-overlay-panel">
          <span class="op-margin-bottom">Hello, {{ username }}</span>
          <p-button label="Logout" styleClass="p-button-sm" (click)="logout()"></p-button>
        </div>
      </p-overlayPanel>
    </ng-container>
    <ng-container *ngIf="loggedIn == undefined">
      <p-skeleton class="skeleton-appear" height="100%" width="15rem"></p-skeleton>
    </ng-container>
  </div>
</header>

<router-outlet />