<p-accordion id="toolAccordion" [activeIndex]="[0,1]" [multiple]="true">
    <p-accordionTab header="Manage moderators">
        <span style="font-size: 1.25rem; font-weight: bold;">Current Moderators:</span>
        <app-userlist emptyMessage="There are no moderators." [users]="mods"></app-userlist>
    </p-accordionTab>
    <p-accordionTab header="SQL Console">
        <div style="display: flex; margin-bottom: 1rem;">
            <textarea rows="10" pInputTextarea [formControl]="sqlQueryForm" style="flex-grow: 1; margin-right: 1rem; resize: vertical;"></textarea>
            <p-button styleClass="p-button-success" [style]="{'height': '100%', 'display': 'block'}" (click)="execute()" [loading]="executeBtnLoading">Execute</p-button>
        </div>
        <p-table *ngIf="resultColumns != null && resultData != null" styleClass="p-datatable-gridlines p-datatable-striped" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"[paginator]="true" [rows]="10" [columns]="resultColumns" [value]="resultData" [tableStyle]="{ 'width': '100%', 'padding': '1rem', 'border': '2px solid var(--surface-border)' }">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns; let i = index">
                        {{ rowData[i] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-card *ngIf="infoMsg != null" [style]="{'border': '2px solid var(--green-500)'}">
            <span style="font-size: 1.25rem;">{{ infoMsg }}</span>
        </p-card>
        <p-card *ngIf="errorMsgHeader != null || errorMsgs != null" [style]="{'border': '2px solid var(--red-500)'}">
            <div style="display: flex; flex-direction: column;">
                <span style="font-size: 1.25rem; margin-bottom: 1rem;">{{ errorMsgHeader }}</span>
                <span style="margin-bottom: 0.5rem;" *ngFor="let error of errorMsgs">{{ error }}</span>
            </div>
        </p-card>
    </p-accordionTab>
</p-accordion>