:host {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#searchResults {
    width: 65rem;
    max-width: 90%;

    > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}